* {
    padding: 0;
    margin: 0;
    font-family: Geneva;
    box-sizing: border-box;
}

body {
    background: rgb(1, 61, 131)
}

.grid-container {
    display:               grid;
    grid-template-columns: auto auto auto;
}

.box {
    width:          80%;
    max-width:      600px;
    color:          white;
    background:     linear-gradient(45deg, #01aff3, #14ab00);
    margin:         100px auto;
    border-radius:  45px;
    text-align:     center;
    padding:        50px 35px;
}

.historyBox {
    width:          70%;
    max-width:      600px;
    color:          white;
    background:     linear-gradient(45deg, #01aff3, #14ab00);
    margin:         100px auto;
    border-radius:  45px;
    text-align:     center;
    padding:        50px 35px;
}

.historyTitle {
    font-size: 30px;
}

.historyBox button{
    min-width:      50%;
    border-radius:  7px;
    font-size:      18px;
    cursor:         pointer;
}

.historyBox button:hover{
    background-color:   rgb(255, 255, 255);
    color:              black;
}

.fullWeatherBox {
    width:          70%;
    max-width:      600px;
    color:          white;
    background:     linear-gradient(45deg, #01aff3, #14ab00);
    margin:         100px auto;
    border-radius:  45px;
    text-align:     center;
    padding:        50px 35px;
}

.fullWeatherTitle {
    font-size: 30px;
}

.searchBar {
    width:          100%;
    align-items:    center;
    display:        flex;
    justify-content:space-between;
}

.searchBar input {
    font-size:      20px;
    border:         0;
    outline:        0;
    background:     white;
    color:          black;
    padding:        25px;
    height:         50px;
    flex:           1;
    border-radius:  25px;
    margin-right:   15px;
}

.searchBar button {
    background:     white;
    border:         0;
    outline:        0;
    border-radius:  25px;
    height:         50px;
    width:          50px;
    cursor:         pointer;
}

.icon {
    width:          200px;
    margin-top:     50px;
}

.invalid {
    font-size:      20px;
    text-align:     left;
    padding:        10px 0px 0px 25px;
    display:        none;
}

.weather {
    display:        none;
}

.weather h1 {
    font-size:      60px;
    font-weight:    400;
    margin-top:     10px;
    line-height:    1.2;

}

.weather h2 {
    font-size:      45px;
    font-weight:    300;
    margin-top:     -10px;
    line-height:    1.4;
}

.specifics {
    display:         flex;
    padding:         0 50px;
    align-items:     center;
    justify-content: space-between;
    margin-top:      35px;
}

.column {
    & { 
        min-width:      50%;
        display:        flex;
        align-items:    center;
        text-align:     left;
        font-size:      18px;     
    }

    .rain {
        font-size: 30px;
        min-width: 100%;
    }

    .wind {
        font-size: 30px;
        min-width: 100%;
        margin-top: -15px;
    }
}

.column img {
    margin-right:   25px; 
}p

.column2 {
    line-height: 1.2;
}

.details {
    display:                none;
    grid-template-columns:  repeat(2, 1fr);
    font-size:              18px;
    text-transform:         capitalize;
    padding:                10px 0px 0px 50px
}

.windBox {
    & {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    img {
        /* margin-right: 0px; */
    }
}

.windText {
    margin-top: -15px;
}

.cityButton{
    background:     none;
    border:         none;
    cursor:         pointer;
    font-size:      18px;
    text-transform: capitalize;
    color:          white;
}

.details {
    text-align:     left;
}
